include CHANGES COPYING MANIFEST.in README.rst setup.py Makefile
include bin/pgxn bin/pgxnclient
recursive-include pgxnclient *.py
recursive-include testdata *
include pgxnclient/libexec/*
include docs/conf.py docs/Makefile docs/*.rst
